<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои рецепты на каждый день</title>
</head>
<body>
<h1>***************************************</h1>

<!--<h1><a href="/base/"> Меню сайта</a></h1>-->
<h1><a href="/menu/"> Меню на неделю</a></h1>
<h1><a href="/Napitki/"> Напитки</a></h1>
<h1><a href="/Vtorie_bluda/"> Вторые блюда</a></h1>
<h1><a href="https://yandex.by/images/search?from=tabbar&text=прикольные%20картинки%20еда"> Картинки</a></h1>

{% block page_content%}
{% endblock %}

<h1>***************************************</h1>

</body>
</html>