<!DOCTYPE html>
<html lang="en">
{% extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
{% block page_content%}

<body>
<h1>***************************************</h1>

<h1>Понедельник</h1>

<h2>Завтрак</h2>
<h3>Творожная запеканка</h3>

<h3>Ингредиенты:Запеченая цветная капуста </h3>

<h3>3 яйца
0,5 стак. сахара
500 г творога
500 г варёного риса
0,5 стак. муки
100 г изюма
30 г масла
1 апельсин (или яблоки, курага, персики)
    ¼ стак. сахара</h3>

<h3>Приготовление:
Яйца взбить с сахаром. Вмешать сначала творог, затем муку. Добавить охлаждённый рис и промытый изюм.
Апельсин (или любой другой фрукт на ваш вкус) вымыть, нарезать тонкими ломтиками.
Форму смазать растопленным маслом, посыпать сахаром, выложить фруктовые ломтики, затем – творожную массу/
    Запекать в духовке при 200-220ºС 40-45 мин.</h3>

<h2>Обед</h2>
<h3>Суп рисовый с кальмарами и зеленым горошком.</h3>

<h3>Ингредиенты:
400 г филе кальмара
2/3 стак. риса
по 1 луковице и корню петрушки
1/2 стак. консервированного зелёного горошка
1 ст.л. сливочного масла
зелень, соль, специи.

Приготовление:
Рис отварить до полуготовности. Овощи нарезать соломкой и пассеровать на масле. Кальмаров очистить и нарезать соломкой. В кипящий бульон положить пассерованные овощи, через 10-15 минут – рис, кальмары, зелёный горошек и варить суп до готовности. Посыпать зеленью.
</h3>
<h2>ужин</h2>
<h3>овощное рагу</h3>

<h3>Ингредиенты:
картофель - 500 г
капуста белокочанная - 350 г
морковь - 200 г
горошек зелёный - 100 г
репа - 200 г
капуста цветная - 350 г
зелень петрушки - 50 г
корень петрушки - 50 г
кабачок - 300 г
сметана - 150 г
лук - 250 г
    сок томатный - 20 г</h3>

<h3>Приготовление:
Прелесть этого блюда состоит в том, что если у вас не оказалось какого-либо продукта, то его без ущерба для вкуса и пользы можно заменить любым другим. Каждый раз ваше рагу будет немного другим.

Подготовить овощи: очистить, нарезать кубиками, цветную капусту разобрать на соцветия. Белокочанную капусту сложить в кастрюлю, залить сметаной, разведённой водой, потушить 10 минут. Затем добавить остальные овощи, тушить до мягкости. В конце тушения добавить томатную пасту или сок и зелень петрушки, связанную пучком (после окончания готовки её нужно удалить).
</h3>
<h1>***************************************</h1>

<h2>Вторник</h2>

<h3>Завтрак</h3>
<h3>Пшённая каша с творогомКаша с сухофруктами</h3>

<h3>Ингредиенты:
1 стак. пшена
1,5 стак. молока
1,5 стак. воды
1/2 ч.л. соли
1 ст.л. сахара
100 г изюма
    200 г творога</h3>

<h3>Приготовление:
Пшено перебрать, промыть в нескольких водах, пока стекающая вода не станет прозрачной. Переложить в кастрюлю, залить большим количеством воды, поставить на огонь и довести до кипения. Накрыть крышкой и варить на слабом огне 15 мин. Снять с огня и слить воду. Залить пшено кипящим молоком. Добавить соль, сахар и масло. Неплотно накрыть крышкой и варить на небольшом огне 30 мин. Снять с огня. Добавить в кашу творог и изюм, тщательно перемешать. Кастрюлю завернуть в одеяло и оставить в теплом месте на 25–30 мин.
</h3>

<h3>Обед</h3>
<h3>Мясо с овощами</h3>

<h3>Ингредиенты:
300-500 г мяса (телятина, постная свинина)
5-6 шт. картофеля
2-3 шт. моркови
1-2 шт. крупного лука
2 ст.л. сливок или сметаны
соль, специи, лимон, горчица
</h3>

<h3>Приготовление:
Все овощи почистить и крупно порезать. Мясо посолить, поперчить, добавить специи и намазать смесью горчицы, сливок и лимонного сока. Мясо вместе с овощами выложить в рукав для запекания, поставить в духовку на 40-50 минут при 260ºС.
</h3>
<h3>Ужин</h3>
<h3>Куриные грудки по-китайски</h3>

<h3>Приготовление:
Утром разрезать грудку на очень мелкие кусочки (примерно 2 на 3 см, толщиной где-то 1 см), посолить, добавить карри, залить соком из пакета (апельсиновым, но можно экспериментировать со вкусом — яблочным, например) и оставить это всё в холодильнике до вечера. Перед ужином поставить варить рис, в это время разогреть сковородку с высокими бортами, добавить немного растительного масла, и выложить туда курицу вместе с тем, в чём она замачивалась. На большом огне держать всё это минут 5-7, постоянно помешивая. Потом положить на тарелки по паре листьев салата, выложить рис, сверху на рис выложить курицу.
</h3>
<h1>***************************************</h1>

<h2>Среда</h2>

<h3>Завтрак</h3>
<h3>Омлет с овощами.Запеканка с рыбой</h3>
<h3>
Ингредиенты:
4 яйца
½ стак. молока
овощи – свежие или замороженные
</h3>
<h3>
Приготовление:
Это рецепт из разряда «я его слепила из того, что было». Любые овощи доводим до полуготовности на сковороде – тушим на растительном масле. Яйца взбиваем с молоком и щепоткой соли, заливаем овощи и готовим омлет под крышкой до загустевания белков.
</h3>

<h3>Обед</h3>
<h3>Запеканка из рыбы с гречкой</h3>
<h3>
Ингредиенты:
1 кг филе любой рыбы
1 стак. варёной гречки
3 луковицы
50 г твёрдого сыра
кетчуп или томатная паста
</h3>
<h3>
Приготовление:
Лук нарезать и обжарить в масле. Выложить, оставив масло и в этом масле слегка обжарить подготовленную рыбу. Затем в глубокую сковороду выложить слоями:
1-ый – гречневая каша
2-ый – 2 ст. л. кетчупа
3-ый – рыба
4-ый – лук
5-ый – рыба
6-ый – 2 ст. л. кетчупа
7-ый – тёртый сыр.
Затем ставим в духовку и запекаем до готовности, до нежной румяной корочки.
</h3>

<h3>Ужин</h3>
<h3>Котлеты рыбные «Здоровье»</h3>
<h3>
Ингредиенты:
500 г рыбного филе
8 кусочков пшеничного хлеба
1 стак. молока
1 яйцо
2 шт. лука
2 моркови
2 ст.л. растительного масла
4 ст. л. сметаны
4 ст. л. панировочных сухарей
соль, перец черный молотый по вкусу
</h3>
<h3>
Приготовление:
Морковь натереть, лук нарезать, обжарить на растительном масле. Хлеб предварительно замочить в молоке. Рыбное филе пропустить через мясорубку вместе с хлебом и морковью с луком. В массу добавить соль, перец, яйцо и тщательно вымесить. Сформовать котлеты, запанировать их в сухарях, обжарить с двух сторон на сковороде. Затем котлеты залить сметаной, разведённой в воде, и довести до готовности в духовке. На гарнир подать зелень и печёный картофель.
</h3>
<h1>***************************************</h1>

<h2>Четверг</h2>
<h3>    Завтрак</h3>
<h3> Овсяная каша с фруктами и орехами</h3>
<h3>
Ингредиенты:
1 стак. овсяных хлопьев
1 стак. воды
1 стак. молока
1 стак. мелко нарезанных фруктов
2 ст. л. мелко нарезанных орехов
1 ст. ложка сливочного масла
соль и сахар по вкусу
</h3>
<h3>
Приготовление:
В кипящую воду, в которую добавлены соль и сахар, всыпать овсяные хлопья и варить кашу 5-7 мин. затем влить горячее молоко и варить до готовности. В овсянку положить сливочное масло, фрукты, орехи.
</h3>
<h3>Обед</h3>
<h3>Суп «Весенний»</h3>
<h3>
Ингредиенты:
400 г курицы
400 г цветной капусты
по 1 шт. лука и моркови
20 г сельдерея
160 г шпината
250 г зелёного горошка
зелень петрушки
Для белого соуса:
20-30 г муки
бульон куриный
Для льезона:
1 желток
140 г сливок
соль
</h3>
<h3>
Приготовление:
Курицу залить водой, сварить до готовности. Затем бульон процедить, курицу разрезать на кусочки. Овощи мелко нарезать, добавить зелёный горошек, влить немного бульона и припустить до готовности. Шпинат мелко нарезать и так же припустить с добавлением бульона. Из пассерованной муки и бульона приготовить белый соус. Для приготовления льезона сырой желток смешать со сливками и солью и проварить на водяной бане до густоты сметаны. В кипящий куриный бульон положить припущенные овощи, белый соус и всё проварить. Перед подачей суп слегка охладить, заправить льезоном и посыпать рубленой зеленью.
</h3>
<h3>Ужин</h3>
<h3>Кабачки фаршированные</h3>
<h3>
Ингредиенты:
2 молодых кабачка
300 г готового фарша (смешать его с луком и зеленью)
½ стак. риса
1 луковица
1 морковь
1 зубчик чеснока
1 стак. бульона или воды
2 ст.л. сметаны
1 ст.л. томатной пасты
соль, перец, зелень
</h3>
<h3>
Приготовление:
Кабачки нарезать поперёк на куски шириной 3 см, удалить мякоть. Отварить рис. Смешать рис с фаршем. Начинить кабачки полученной смесью, уложить в глубокую форму и залить соусом. Соус готовится так: лук, морковь и порезанную мякоть кабачков слегка обжарить, добавить толчёный чеснок, бульон, соль, перец, томатную пасту и сметану. Дать прокипеть. Тушить кабачки в соусе, под крышкой, 30-45 минут.
</h3>
<h1>***************************************</h1>

<h2>Пятница</h2>
<h3>Завтрак</h3>
<h3>Сырники с припёком</h3>
<h3>
Ингредиенты:
500 г творога
1 яйцо
100 г муки
100 г сахара
2 шт. банана (или любых других фруктов для припёка)
1 ч.л. разрыхлителя для теста
</h3>
<h3>
Приготовление:
Протёртый через сито творог смешать с яйцом, сахаром, мукой и разрыхлителем. Бананы очистить, нарезать кусочками и добавить к творожной массе. Разделить тесто на 10-12 равных частей, придать форму котлет, обвалять в муке, обжарить в растительном масле по 4-5 минут с каждой стороны. Подать со сметаной.
</h3>

<h3>Обед</h3>
<h3>Пудинг из рыбы</h3>
<h3>
Ингредиенты:
700 г любой рыбы (или готового филе)
60 г сливочного масла
40 г муки
1/4 л молока
50 г твёрдого сыра типа Пармезан
4 яйца
20 г толчёных сухарей
соль, перец, мускатный орех.
</h3>
<h3>
Приготовление:
Сырую рыбу разделать, очистить от костей и кожи, порубить так, чтобы получилась однородная масса (можно пропустить через мясорубку). Приготовить белую заправку: 40 г масла растопить, прибавить муку, поджарить, развести молоком, всё время помешивая, чтобы масса была гладкой. Вскипятить. Когда загустеет, отставить, охладить. Соус влить в миску, прибавить желтки, растереть, добавить рыбный фарш и тёртый сыр, заправить по вкусу солью, перцем, мускатным орехом. Тщательно растереть, смешать с взбитыми белками. Выложить в форму для пудинга, смазанную маслом и обсыпанную сухарями, варить на пару около 1 часа. Можно вместо варки запечь в духовом шкафу. Когда края слегка зарумянятся, обвести ножом вокруг пудинга, приложить к Стейки из горбуши - Меню правильного питания на неделюформе круглое блюдо и опрокинуть вместе с формой на блюдо. Разделить на порции. Подавать с томатным соусом, соусом с укропом или соусом с хреном, с растопленным маслом. Это блюдо подаётся с отварным картофелем.
</h3>

<h3>Ужин</h3>
<h3>Восхитительные стейки из горбуши</h3>
<h3>
Ингредиенты:
1 горбуша, разделанная на 8 одинаковых стейков
4 ст.л. муки
6 ст.л. растительного масла
1 ч.л. соли
1/2 ч.л. красного перца
2 ст.л. розмарина
50 г сливочного масла.
</h3>
<h3>
Приготовление:
Муку смешать с солью и перцем. Куски горбуши хорошо запанировать в муке.
    Обжарить на масле 5 минут с одной стороны и 3-4 минуты с другой.

Готовую рыбу выложть шумовкой на салфетку, чтобы избавиться от излишков масла, а затем переложить в подходящую для запекания посуду. Рыбу посыпать розмарином. Поверх специи выложить тонкие пластики сливочного масла так, чтобы они покрывали рыбу. Поставить посуду с рыбой в предварительно нагретую до 220ºС духовку на 5 минут. Аромат просто неземной! Стейки из горбуши подать с салатом из зелени и картофельным пюре.
</h3>

<h1>***************************************</h1>

</body>
{% endblock %}

</html>