<!DOCTYPE html>
{% extends 'base.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Напитки</title>
</head>
{% block page_content%}

<body>

<h1>Молочно-банановый коктейль "Сладкоежка"</h1>

<h2>Продукты (на 4 порции)
Банан - 2 шт.
Молоко - 200 мл
Мороженое - 200 г</h2>

<h3>Пошаговый рецепт
№1 Подготовить продукты для молочно-бананового коктейля.
№2 Банан нарезать небольшими кусочками.
№3 В высокой емкости смешать молоко, банан и мороженое. Взбить миксером (10-15 минут) или блендером до однородного состояния.
№4 Подавать молочно-банановый коктейль в высоком бокале с соломинкой.

Приятного аппетита!
</h3>


<h1>"Светящийся коктейль"</h1>
 <h3>
Светящийся коктейль для вечеринки в стиле Хэллоуина. Неоновый эффект создает "секретный ингредиент" в ультрафиолетовой подсветке. Коктейль может быть как с алкоголем, так и без.
 </h3>
<h2>
Продукты (на 2 порции)
Водка - 50 мл
Тоник - 100 мл
    Лед - 50 г</h2>
<h3>
Пошаговый рецепт
шаг №1
Для светящего коктейля подготовьте водку или другой крепкий алкогольный напиток, заранее замороженные кубики льда и тоник.
Также понадобится ультрафиолетовая лампа.
шаг №2
Первым в бокалы опустите лед.
шаг №3
Влейте водку и тоник.
Пропорции легко изменить по своему вкусу. Кроме того, вместо классического бесцветного тоника подходят ароматизированные, цветные - светящийся коктейль может быть розовым, желтым, зеленым.
Именно тоник (не считая ультрафиолетовой лампы) создает эффект неона. Тоник - тот самый секретный и обязательный компонент светящегося коктейля.
шаг №4
Бокалы с прозрачным коктейлем в темном помещении преображаются под ультрафиолетовыми лучами.
    Если тоник заморозить, ледяные кубики будут светиться в ультрафиолете так же, как и жидкость.</h3>


<h1>"Коктейль Мохито"</h1>
<h2>
Продукты
Белый ром
50	мл
Сахарный сироп
15	мл
Содовая
100	мл
Лайм
80	г
Мята
3	г
Дробленый лед
200	г
Необходимые штучки
Хайбол
1	шт
Мадлер
1	шт
Джиггер
1	шт
Коктейльная ложка
1	шт
Трубочки
    2	шт</h2>
<h3>
Рецепт коктейля Мохито:
Положи в хайбол лайм 3 дольки и подави мадлером.
Возьми мяту 10 листиков в одну руку и хлопни по ним другой рукой.
Положи мяту в хайбол.
Наполни бокал дробленым льдом доверху.
Добавь сахарный сироп 15 мл и белый ром 50 мл.
Долей содовую доверху и аккуратно размешай коктейльной ложкой.
Досыпь немного дробленого льда.
Укрась веточкой мяты и долькой лайма.
</h3>




</body>
{% endblock %}

</html>