<!DOCTYPE html>
<html lang="en">
{% extends 'base.html'%}

<head>
    <meta charset="UTF-8">
    <title>Вторые блюда</title>
</head>
{% block page_content%}

<body>


<h1>СТЕЙК РИБАЙ НА СКОВОРОДЕ</h1>
Такой вкуснятины ты еще не пробовала! Последние годы особую популярность приобрело сочное мясо разной степени прожарки с минимумом специй. Пожарить стейк из говядины рибай дома не составит никакого труда - рецепт раскрывает все тонкости приготовления этого блюда.
<h2>
СОСТАВ / ИНГРЕДИЕНТЫ
порций:2
Говядина (2 стейка рибай)
500
гр
Оливковое масло
2
стол.л.
Морская соль
    по вкусу</h2>
<h3>
ПОШАГОВОЕ ПРИГОТОВЛЕНИЕ
    Шаг 1.
Чтобы приготовить говяжий стейк, нам понадобится сам стейк, оливковое масло и соль.
    Чтобы мясо прожарилось равномерно по всему куску, говяжий стейк заранее достаньте из холодильника и дайте полежать
    в комнате не менее 1-2 часов. Мясо должно быть внутри одинаковой температуры. Нежелательно готовить стейк из замороженного мяса
    - он не получится таким же сочным и мягким, как из свежего.

Шаг 2.
Если у вас целый кусок мяса, то необходимо самостоятельно нарезать его на стейки толщиной около 2 см.
    Отмерять толщину можно сложив вместе 2 пальца (в видео показано, как правильно отмерять толщину стейка).
    Это и будет нужная толщина стейка. Затем стейки вымойте и обсушите бумажными полотенцами.
    Обсушивать мясо нужно обязательно, иначе оно будет не жариться, а тушиться в мясном соке.

Шаг 3.
Кисточкой смажьте мясо оливковым маслом со всех сторон.
    Говяжья мякоть очень хорошо впитывает масло, поэтому ваш стейк получится сочным.

Шаг 4.
Сковороду с толстым дном раскалите на самом сильном огне. Смазывать сковороду ничем не нужно. Выложите стейки и обжарьте с одной стороны 30 секунд. Если через это время на мясе появилась румяная зажаристая корочка, переверните стейк на другую сторону. Это нужно, чтобы быстро запечатать мясные соки внутри куска. Если вы хотите степень прожарки Blue/Raw, то есть почти сырое мясо с верхней поджаристой корочкой, то на этом этапе мясо можно снимать с огня.

Шаг 5.
Ну а я продолжила жарить мясо дальше. Снова переверните стейк на первую сторону и снизьте огонь до среднего и жарьте 1 минуту. Затем столько же с другой стороны. Если хотите получить стейк со степенью прожарки rare, т. е. - сырой с кровью, то после этого этапа можно убирать стейк с огня. Но я продолжаю жарить дальше.
    Шаг 6.
Мне нужна была прожарка medium rare, оно теплое внутри, крови меньше, но она еще есть.
    Жарила я такой стейк еще по 1 минуте с каждой стороны. В итоге общее время обжаривания стейка с каждой стороны составило 2 минуты 30 секунд.

Шаг 7.
По окончании жарки выключите огонь уберите сковороду с плиты, посыпьте стейки морской солью.


Шаг 8.
Накройте сковороду крышкой и оставьте мясо на 1-2 минуты, чтобы все соки распределились по куску равномерно. Можете вместо сковороды переложить мясо на тарелку и накрыть фольгой.

Шаг 9.
Готовые стейки нужной степени прожарки выложите на тарелку, сервированную свежим салатом и овощами и подайте к столу. Приятного аппетита!

Шаг 10.
А вот стейки Medium Well, если их жарить после запечатывания соков по 6-7 минут с каждой стороны,то кровь уже не выделяется, но при этом мясо не утратило своей сочности. При нажатии вытекает бледный прозрачный сок. А еще есть степень прожарки Well Done, это когда мясо сильно прожарено, что даже сок из него не вытекает. Оно получается суховатым по структуре, но многим и так нравится.

Можете приготовить стейк на сковороде гриль, тогда у вас получится красивый рельефный рисунок.

Любые масла полезны только до достижения определённой температуры - точки дымления, при которой масло начинает гореть и в нём образуются токсичные вещества, в том числе канцерогены. Как определиться с температурой обжаривания и выбрать лучшее масло для жарки, а какое лучше не использовать совсем, читайте здесь.
</h3>


</body>
{% endblock %}

</html>